<%- include("partials/header.ejs") %>


  <div class=" container p-5 text-center bg-body-tertiary about">
    <div class="container py-5">
      <h1 class="text-body-emphasis about-text ">About Us</h1>
      <p class="col-lg-8 mx-auto lead about-text">
        Welcome to Yummy in my Tummy, where delightful flavors meet the joy of exploration! We are more than just a blog; we're a celebration of all things delicious and a community of food enthusiasts on a flavorful journey.<br>
  But Yummy in my Tummy is more than just recipes; it's a community. We love hearing from our readers, fellow foodies, and aspiring chefs. Join us in our culinary conversations, share your kitchen triumphs, and let's embark on a gastronomic adventure together.<br>
  
  Thank you for being a part of the Yummy in my Tummy family. Get ready to discover, savor, and celebrate the joy of food with us. After all, life is too short for bland meals – let's make every bite a memorable one!
      </p>
    </div>
  </div>



<%- include("partials/footer.ejs") %>