<%- include("partials/header.ejs") %>
    <!--Hero-->
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="/images/strawberry-cake.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="500px" height="500px"  loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to Yummy In My Tummy</h1>
          <p class="lead">your go-to spot for culinary joy! Explore mouthwatering recipes, cooking tips, and delightful food stories. From savory delights to sweet treats, we've got you covered. Join our community, share your culinary adventures, and let's make every meal a tasty celebration together! </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          </div>
        </div>
      </div>
    </div>
  <%- include("partials/footer.ejs") %>